<%include ./partials/header%>

<h1>hi</h1>
<% blogs.forEach(function(blog) {%>

    <h1><%=blog.title%></h1>
    <img src="<%=blog.image%>">
    <span><%=blog.body%></span>
<%}) %>

<%include ./partials/footer%>
